<div class="jumbotron">
  <div class="container">
    <h1>Glance Video in seconds.</h1>
    <p>No time to catch up the latest video?</p>
    <p>How about have some galances for your lovely videos like reading comic books.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Try it! &raquo;</a></p>
  </div>
</div>